<div class="card bg-light text-black mb-3 mx-auto">
<form>
    <img class="mb-4" src="/public/letterW.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Multiple Choice Game</h1>
                <p>Put Question Here</p>
                <input type="radio" name="radio">
                <label class="options">Option 1
                <span class="checkmark"></span>
            </label>
            <br/>
            <input type="radio" name="radio">
            <label class="options">Option 2
                <span class="checkmark"></span>
            </label>
            <br/>
            <input type="radio" name="radio">
            <label class="options">Option 3
                <span class="checkmark"></span>
            </label>
            <br/>
            <input type="radio" name="radio">
            <label class="options">Option 4
                <span class="checkmark"></span>
            </label>
            <br/>
            <br/>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; Made Year 2023</p>
  </form>
</div>