<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/public/letterW.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Word Triva Educational Game</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Want to improve your word vocabulary skills. Come check out our website as we have all the things
        you need to	succeed.
        <br/>
        <br/>
        Made by Cindy Tran, Rachel Potter, Luke, Jamie, Jedd, Kristy Zhang, and Omar. 
      </p>
          <p class="mt-5 mb-3 text-body-secondary">&copy; Made Year 2023</p>
    </div>
</div>