<form>
    <img class="mb-4" src="/public/letterW.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="username" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="aboutUsername">A username must be at least 6 characters long and have at least one letter and one number.</p>
    <p class="aboutPassword">A password must contains at least 8 characters and have at least one letter and one number.</p>
    <p>If both are valid, you will be able to sign in!</p>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
    
  </form>